body {
  background-image: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdWR5JTIwd2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #f8f8f8;
}

input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border: 1px solid rgba(255,255,255, 0.8);
    border-radius: 25px;
    background: rgba(255,255,255, 0.1);
    color: #f8f8f8;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 2rem;
}

p {
  font-size: large;
}

button {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
button:hover {
  background-color: #0056b3;
}